section#content {
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d2dfa4;
}

.content-widget {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 240px);
    gap: 30px;
    text-align: center;
}
.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.content-box img {
    width: 100px;
    margin-bottom: 30px;
}
.content-box h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.content-box p {
    width: 250px;
    font-size: 1.3rem;
}

@media  screen and (max-width: 1024px) {
    .content-widget {
        grid-template-columns: repeat(2, 400px);
    }
}

@media screen and (max-width: 768px) {
    .content-widget {
        grid-template-columns: repeat(1, 350px);
    }
    .content-box {
        margin-bottom: 20px;
    }
}