header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-inline: 24px;
    background-color: transparent;
    z-index: 1;
}

.menu {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    gap: 32px;
}

.nav-list a {
    font-size: 18px;
    font-weight: bold;
    padding-block: 16px;
    color: #000;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 4px solid #fff;
    cursor: pointer;
}
.hamburger::before,
.hamburger::after {
    position: relative;
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    margin-top: 5px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-in-out;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }

    .nav-list li {
        margin-bottom: 30px;
    }

    .nav-list a {
        font-size: 28px;
        color: #fff;
        margin-bottom: 100px;
        opacity: 0;
    }

    .menu.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }


    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }
    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }
    .nav-list li:nth-child(5) a {
        transition: 0.5s 1s;
    }
    .nav-list li:nth-child(6) a {
        transition: 0.5s 1.2s;
    }

    .menu.active .nav-list a {
        opacity: 1;
    }


    .menu.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .menu.active .hamburger::before {
        transform: rotate(135deg);
    }
    .menu.active .hamburger::after {
        transform: rotate(-135deg);
        top: -8px;
    }
}


