@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap');

section#slide {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input,
.img-mobile {
    display: none;
}

.slide-box {
    position: relative;
    width: 25%;
    height: auto;
    text-align: center;
    transition: 1s;
}

.pelicula-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
}

.slide-description {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide-description h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: clamp(1rem, 8vw, 5rem);
    color: #FFF;
    margin-bottom: 10px;
}
.slide-description p {
    font-family: 'Rubik', sans-serif;
    color: #FFF;
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 58%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-manual .manual-btn:hover {
    background: #FFF;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #FFF;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}

@media (min-width: 1440px) {
    .nav-manual,
    .nav-auto {
        margin-top: 45%;
    }
}

@media (max-width: 425px) {
    .nav-manual,
    .nav-auto {
        margin-top: 110%;
    }
    
    .slide-box .img-desktop {
        display: none;
    }
    .slide-box .img-mobile {
        display: block;
        height: 60vh;
        object-fit: cover;
    }
}